<%- layout("layouts/boilerplate") %> 

<link rel="stylesheet" href="/stylesheets/converter.css">

<h2> Base Calculator </h2>

<div class="container mt-4">
    <div class="row">
        <div class="calcFrame col-md-6">
            
            <form class="mb-4" action="">
                
                <div class="mb-4">
                    <label for="fromNum" class="form-label"> <strong>Enter Number</strong> </label>
                    <input type="text" class="form-control inpText" id="fromNum" aria-describedby="fromNumHelp" name="num" autofocus>
                    <div id="fromNumHelp" class="form-text">
                        Choose a number from any available base.
                    </div>
                </div>
                
                <div class="mb-4">
                    <label for="fromBse" class="form-label"> <strong>From Base:</strong> </label>
                    <select class="form-select" aria-label="Select current base" id="fromBase" name="fromBase">
                        <% for (let base of baseList) { %>
                            <option value="<%=base[0]%>" <%= base[0]==10 ? "selected" : "" %>> <%=base[0]%> <%=base[1]%>  </option> 
                        <% } %> 
                    </select>
                </div>

                <div class="mb-4">
                    <label for="toBase" class="form-label"> <strong>To Base:</strong> </label>
                    <select class="form-select" aria-label="Select base to convert" id="toBase" name="toBase"> 
                        <% for (let base of baseList) { %>
                            <option value="<%=base[0]%>"> <%=base[0]%> <%=base[1]%>  </option> 
                        <% } %> 
                    </select>
                </div>

                <button type="button" class="btn btn-primary" id="submitBtn"> Convert </button>
                <button type="reset" class="btn btn-secondary ms-3" id="resetBtn"> Reset </button>
                
            </form>

            <label for="result" class="form-label"> <strong>Result:</strong> </label>
            <div class="text-wrap">
                <textarea class="form-control" name="resultArea" id="result" cols="85" rows="2" readonly> </textarea>
                <span class="copyIcon" id="copyToClipboard"> 
                    <img class="icon" src="/assets/clipboard.svg" alt="clipboard">
                </span>
            </div>

        </div>
        
    </div>

    <a href="../../"> Back </a>

</div>