<%- layout("layouts/boilerplate") %> 

<link rel="stylesheet" href="/stylesheets/converter.css">

<h2> Base Converter </h2>

<div class="container mt-4">
    <div class="row">
        <div class="calcFrame col-md-6">
            
            <form class="mb-4" action="/tools/baseconverter" method="POST">
                
                <div class="mb-4">
                    <label for="fromNum" class="form-label"> <strong>Enter Number</strong> </label>
                    <input type="text" class="form-control inpText" id="fromNum" aria-describedby="fromNumHelp" name="num" autofocus>
                    <div id="fromNumHelp" class="form-text">
                        Choose a number from any available base.
                    </div>
                </div>
                
                <div class="mb-4">
                    <label for="fromBse" class="form-label"> <strong>From Base:</strong> </label>
                    <select class="form-select" aria-label="Select current base" id="fromBase" name="fromBase">
                        <% for (let base of baseList) { %>
                            <option value="<%=base[0]%>" <%= base[0]==10 ? "selected" : "" %>> <%=base[0]%> <%=base[1]%>  </option> 
                        <% } %> 
                    </select>
                </div>

                <div class="mb-4">
                    <label for="toBase" class="form-label"> <strong>To Base:</strong> </label>
                    <select class="form-select" aria-label="Select base to convert" id="toBase" name="toBase"> 
                        <% for (let base of baseList) { %>
                            <option value="<%=base[0]%>"> <%=base[0]%> <%=base[1]%>  </option> 
                        <% } %> 
                    </select>
                </div>

                <button type="submit" class="btn btn-primary"> Convert </button>
                <button type="reset" class="btn btn-secondary ms-3"> Reset </button>
                
            </form>

            <label for="result" class="form-label"> <strong>Result:</strong> </label>
            <div class="text-wrap">
                <textarea name="resultArea" id="result" cols="85" rows="3" disabled> </textarea>
                <span class="copyIcon" id="copyToClipboard"> 
                    <img class="icon" src="/assets/clipboard.svg" alt="clipboard">
                </span>
            </div>

        </div>

        <div class="helpBoard col-md-6">
            <h3 class="mt-3 mb-3"> How to convert? </h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quos ab possimus explicabo pariatur nesciunt delectus qui aspernatur cumque fuga consequatur, officiis repellendus sint minus! Aliquid ut repellendus nobis sint? </p>
            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>                
        </div>
    </div>

    <a href="../../"> Back </a>

</div>

<script type="text/javascript" src="/scripts/allConverter.js"></script>
<script type="text/javascript" src="/scripts/baseConverter.js"></script>