<%- layout("layouts/boilerplate") %> 

<link rel="stylesheet" href="/stylesheets/converter.css">
<link rel="stylesheet" href="/stylesheets/calculator.css">

<h2> Base Calculator </h2>

<div class="container mt-4">
    <div class="row">
        <div class="calcFrame col-md-6">
            
            <form class="mb-4" action="">

                <div class="mb-4">
                    <label for="base" class="form-label"> <strong>Select Base:</strong> </label>
                    <select class="form-select" aria-label="Select a base" id="base" name="base">
                        <% for (let base of baseList) { %>
                            <option value="<%=base[0]%>" <%= base[0]==10 ? "selected" : "" %>> <%=base[0]%> <%=base[1]%>  </option> 
                        <% } %> 
                    </select>
                </div>
                
                <div class="mb-4">
                    <label for="numA" class="form-label"> <strong>First Number</strong> </label>
                    <input type="text" class="form-control inpText" id="numA" aria-describedby="numAHelp" name="numA" autofocus>
                    <div id="numAHelp" class="form-text">
                        Choose a number from the selected base.
                    </div>
                </div>

                <div class="mb-4">
                    <label for="operation" class="form-label"> <strong>Select Operation:</strong> </label>
                    <select class="form-select" aria-label="Select an operation" id="operation" name="operation">
                        <% for (let op of operatorList) { %>
                            <option value="<%=op[0]%>" <%= op[0]=="add" ? "selected" : "" %>> <%=op[1]%>  </option> 
                        <% } %> 
                    </select>
                </div>
                
                <div class="mb-4">
                    <label for="numB" class="form-label"> <strong>Second Number</strong> </label>
                    <input type="text" class="form-control inpText" id="numB" aria-describedby="numBHelp" name="numB" autofocus>
                    <div id="numBHelp" class="form-text">
                        Choose a second number from the selected base.
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="submitBtn"> Calculate </button>
                <button type="reset" class="btn btn-secondary ms-3" id="resetBtn"> Reset </button>
                
            </form>

            <label for="result" class="form-label"> <strong>Result:</strong> </label>
            <div class="text-wrap">
                <textarea class="form-control" name="resultArea" id="result" cols="85" rows="2" readonly> </textarea>
                <span class="copyIcon" id="copyToClipboard"> 
                    <img class="icon" src="/assets/clipboard.svg" alt="clipboard">
                </span>
            </div>

        </div>

    </div>

    <a href="../../"> Back </a>

</div>